* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(85, 193, 255);
  font-size: 48px;
  font-weight: bold;
  color: black;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: black;
  font-weight: bold;
  padding: 20px;
}

nav,
nav ul,
ul li,
a {
  background: rgb(85, 193, 255);
}

nav {
  text-align: right;
  font-size: 16px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  display: inline;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
  padding-top: 30px;
}

#exercise-buttons {
  /* margin-top: 30px; */
  margin-bottom: 20px;
}

button {
  color: white;
  background-color: red;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgb(85, 193, 255);
}

.open-button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
  margin: 2px;
}

#upperPush {
  background: #006727;
}

#upperPull {
  background: #00bb09;
}

#lower {
  background: rgb(0, 183, 255);
}

#core {
  background: #022ec0;
}

#aerobic {
  background: #8200b6;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #f9f9f9;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(163, 162, 162);
}

.form-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(85, 193, 255);
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

input,
select,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
select:hover,
.btn:hover {
  opacity: 1;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#screenFlash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.1s ease-in-out;
}

/* History */
#history {
  color: white;
}

#history h2 {
  color: white;
}

#historyTable {
  padding-bottom: 20px;
}

#historyTable th {
  width: 80px;
  padding-bottom: 5px;
  font-size: 10px;
}

#historyTable td {
  color: black;
  padding: 4px;
  font-size: 10px;
}

.delButton {
  color: red;
  background: none;
  border: none;
  font-size: 16px;
  padding: 0;
}

.delButton:hover {
  cursor: pointer;
  color: darkred;
}

/* Mobile */
@media (max-width: 600px) {
  .open-button {
    width: 90%;
    font-size: 16px;
    padding: 15px;
  }

  .form-popup {
    min-width: 300px;
    max-width: 80%;
  }

  .form-container {
    min-width: 80%;
  }
}
